body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f5a3f0;
}

h1 {
    color: #000; 
}

p {
    font-size: 20px;
    margin-top: 20px;
}

input[type="number"] {
    padding: 5px;
    font-size: 18px;
}

button {
    background-color: #a71a9e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

img {
    width: 15%;
} 
