body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #b982e6;
}

h1 {
    color: #000; 
}

button {
    background-color: #8b61ed;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

img {
    width: 15%;
} 
